{
  "presets": [
    [
      "@babel/env",
      {
        "modules": false
      }
    ],
    "@babel/react"
  ],
  "plugins": [
    "@babel/transform-runtime",
    "@babel/proposal-class-properties"
  ]
}
