.Example {
  font-family: Segoe UI, Tahoma, sans-serif;

  input, button {
    font: inherit;
  }

  &__container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    &__load {
      width: 420px;
    }

    &__preview {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 420px;

      &__out {
        border: 1px solid darkgray;
        margin: 1em 0;
      }

      &__controls {
        width: 420px;
        display: flex;

        span {
          flex-grow: 1;
          margin: 0 1em;
          text-align: center;
        }

        button {
          width: 80px;
        }
      }
    }
  }
}