:root {
  --border-color: #d0d7de;
  --border-radius: 6px;
  --border-radius-small: 4px;
  --background-primary: #fff;
  --background-secondary: #f6f8fa;
  --text-color: #1f2328;
}

@media (prefers-color-scheme: dark) {
  :root {
    --border-color: #30363d;
    --background-primary: #0d1116;
    --background-secondary: #02040a;
    --text-color: #e6edf3;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--background-primary);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Noto Sans', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  font-size: 0.875rem;
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: block;
  width: 100%;
  margin: 0;
  margin-block-end: 0.5rem;
  font-weight: 600;
}

h1 {
  font-size: 0.875rem;
}

h2 {
  font-size: 1rem;
  font-weight: 400;
}

a {
  color: #096bda;
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
}

input,
button {
  font: inherit;
}

label {
  display: block;
  font-weight: 600;
  margin-block-end: 0.5rem;
}

input[type='checkbox'] + label,
input[type='radio'] + label {
  display: inline-block;
  font-weight: normal;
  margin-block: 0;
  margin-inline-start: 0.25rem;
}

header {
  background-color: var(--background-secondary);
  border-bottom: 1px solid var(--border-color);
  padding: 1rem;
}

header h1 {
  margin: 0;
}

aside,
main {
  padding: 2rem 1rem;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

aside {
  flex-basis: 300px;
  border-right: 1px solid var(--border-color);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

aside fieldset {
  margin: 0;
  padding: 0;
  border: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

aside fieldset legend {
  width: 100%;
  padding: 0;
  font-size: 1.1rem;
  font-weight: 500;
  float: left;
}

aside fieldset fieldset {
  gap: 1rem;
}

aside fieldset fieldset legend {
  display: block;
  font-size: inherit;
  font-weight: 600;
  margin-block-end: -0.5rem;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.document {
}

.document .react-pdf__Document {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.document .react-pdf__Page {
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  overflow: hidden;
}

.document .react-pdf__Thumbnail {
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius-small);
  overflow: hidden;
}

.document .react-pdf__message {
  padding: 1rem;
}

.document .react-pdf__Page__textContent mark {
  opacity: 0.5;
  background: #ffff00;
  color: transparent;
  white-space: pre;
}

.toc {
  width: 100%;
}

.pages {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.controls {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.thumbnails {
  width: 100%;
}

.thumbnails-list {
  display: flex;
  gap: 1rem;
}
