{
  "presets": [
    [
      "es2015", 
      { 
        "modules": false 
      }
    ],
    "stage-2",
    "react"
  ],
  "plugins": [
    "transform-class-properties",
    "transform-es2015-modules-commonjs"
  ]
}