{
  "presets": ["@babel/typescript", "@babel/env", "@babel/react"],
  "plugins": ["@babel/transform-runtime"],
  "env": {
    "production-esm": {
      "presets": [
        [
          "@babel/env",
          {
            "modules": false
          }
        ],
        "@babel/react"
      ],
      "plugins": [["@babel/transform-runtime", { "useESModules": true }]]
    }
  }
}
