{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "es6": true
  },
  "globals": {
    "PDFJS": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
}
