Niklas Närhinen <niklas@narhinen.net>
Wojciech Maj <kontakt@wojtekmaj.pl>
Wojciech Maj <kontakt@wojtekmaj.pl> <wojciech.maj@motorolasolutions.com>
Wojciech Maj <kontakt@wojtekmaj.pl> <wojciech.maj@ocado.com>
Wojciech Maj <kontakt@wojtekmaj.pl> <w.maj@intive.com>
