:root {
  --border-color: #d0d7de;
  --border-radius: 6px;
  --border-radius-small: 4px;
  --background-primary: #fff;
  --background-secondary: #f6f8fa;
  --text-color: #1f2328;
}

@media (prefers-color-scheme: dark) {
  :root {
    --border-color: #30363d;
    --background-primary: #0d1116;
    --background-secondary: #02040a;
    --text-color: #e6edf3;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--background-primary);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Noto Sans', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  font-size: 0.875rem;
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: block;
  width: 100%;
  margin: 0;
  margin-block-end: 0.5rem;
  font-weight: 600;
}

h1 {
  font-size: 0.875rem;
}

h2 {
  font-size: 1rem;
  font-weight: 400;
}

a {
  color: #096bda;
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
}

input,
input[type='file']::file-selector-button {
  font: inherit;
}

input[type='file']::file-selector-button {
  padding: 5px 16px;
  background-color: rgb(246, 248, 250);
  border: 1px solid rgba(31, 35, 40, 0.15);
  border-radius: var(--border-radius);
  box-shadow:
    rgba(31, 35, 40, 0.04) 0px 1px 0px 0px,
    rgba(255, 255, 255, 0.25) 0px 1px 0px 0px inset;
}

input[type='file']::file-selector-button:hover {
  background-color: rgb(245, 246, 248);
}

input[type='file']::file-selector-button:active {
  background-color: rgb(235, 236, 240);
}

label {
  display: block;
  font-weight: 600;
  margin-block-end: 0.5rem;
}

header {
  background-color: var(--background-secondary);
  border-bottom: 1px solid var(--border-color);
  padding: 1rem;
}

header h1 {
  margin: 0;
}

aside,
main {
  padding: 2rem 1rem;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.load {
}

.document {
  width: 100%;
  max-width: 100%;
}

.document .react-pdf__Document {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.document .react-pdf__Page {
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  overflow: hidden;
}

.document .react-pdf__message {
  padding: 1rem;
}
